.poster-grid {
  width: 100%;
}

.poster-grid-list {
  display: grid;
  gap: var(--grid-gap-desktop);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--grid-column-width-desktop), 1fr)
  );
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 900px) {
    gap: var(--grid-gap-mobile);
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--grid-column-width-mobile), 1fr)
    );
  }
}

.poster-grid-list li {
  margin: 0;
}
